<p>Maintenance ID: <%= @inspection_part.inspection.maintenance.id %></p>
<p>Inspection ID: <%= @inspection_part.inspection.id %></p>
<p>Inspection Parts ID: <%= @inspection_part.id %>
<p>Equipment: <%= @inspection_part.inspection.maintenance.equipment.name %></p>
<p>User: <%= @inspection_part.inspection.maintenance.user.username %></p>
<p>Code: <%= @inspection_part.inspection.maintenance.equipment.code %></p>
<p>Status: <%= @inspection_part.inspection.maintenance.status %></p>
<p>Inspection Type: <%= @inspection_part.inspection.inspection_type %></p>
<p>Verified Items: <%= @inspection_part.part.description %>
<p>Analyses Code: <%= @inspection_part.codes %>


<p><a href="../inspection_parts/<%= @inspection_part.id %>/edit"><button>Edit this inspection</button></a></p>
<br>
<p><a href="../maintenances/<%= @inspection_part.inspection.maintenance.id %>"><button>Add new item to inspect</button></a></p>
<p><a href="../maintenances/<%= @inspection_part.inspection.maintenance.id %>/edit"><button>Close maintenance</button></a></p>
<a class="btn btn-link" href="../users/id">Back</a>