<!-- Display user's home page-->
<% if flash[:message] %>
  <h2><%= flash[:message] %></h2>
<% end %>

<h1>Welcome, <%=@user.username.capitalize%></h1>
<br></br>
<h2> List of Maintenances </h2>
<% @user.maintenances.each do |maintenance|%>
  <ul>
    <li><p><a href="/maintenances/<%=maintenance.id%>"><%= maintenance.equipment.code%> | <%= maintenance.equipment.name%> | <%= maintenance.status%></a></p></li>
  </ul>
<%end%>
<br></br>
<%# logout %>
<p><a href="/logout"><button>Logout</button></a></p>
<%# create a new maintenance %>
<p><a href="../maintenances/new"><button>Create Maintenance</button></a></p>
