<!-- Display user's home page-->
<p class="text-danger">
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
</p>



<h2>Welcome, <%= current_user.username.capitalize %></h2>
<br></br>
<h3> List of your Maintenances </h3>
<% current_user.maintenances.each do |maintenance| %>
  <ul>
    <li><p><a href="/maintenances/<%=maintenance.id%>"><%= maintenance.equipment.code%> | <%= maintenance.equipment.name%> | <%= maintenance.status%></a></p></li>
  </ul>
<%end%>
<br></br>
<p><a href="../maintenances/new"><button>Create Maintenance</button></a></p>
