<h2>Maintenance ID: <%= @maintenance.equipment.id %></h2>
<p>Equipment: <%= @maintenance.equipment.name %></p>
<p>User: <%= @maintenance.user.username %></p>
<p>Code: <%= @maintenance.equipment.code %></p>
<p>Status: <%= @maintenance.status %></p>
<p>Inspection Type: <%= @inspection.inspection_type %></p>

<% if @maintenance.status == "in_progress" %>
    <form method="post" action="/maintenances/<%= @maintenance.id %>/inspections">
        <h3>Create New Inspection</h2>    
        <input type="hidden" name="inspection[maintenance_id]" value="<%= @maintenance.id %>"><br>
    
        <label for="inspection_parts">Items verified:</label>
        <select id="inspection_parts" name="inspection_parts[part_id]">
            <% Part.all.each do |part| %>
                <option value="<%=part.id%> "><%= "#{part.description}" %></option>
            <% end %>
        </select>  
        <select id="inspection_parts" name="inspection_parts[code_id_1]">
            <% @issues.each do |code| %>
            <option value="<%=code.code%> "><%= "#{code.code_type} | #{code.title}" %></option>
            <% end %>
        </select> 

        <select id="inspection_parts" name="inspection_parts[code_id_2]">
            <% @causes.each do |code| %>
            <option value="<%=code.code%> "><%= "#{code.code_type} | #{code.title}" %></option>
            <% end %>
        </select> 

        <select id="inspection_parts" name="inspection_parts[code_id_3]">
            <% @actions.each do |code| %>
            <option value="<%=code.code%> "><%= "#{code.code_type} | #{code.title}" %></option>
            <% end %>
        </select> 
        <br></br>

         <label for="notes">Notes:</label>
        <input id="notes" text="text" name="inspection[notes]" placeholder="Notes...">
        <br></br>
        <input type="submit" value="Save">
        <p><a href="../maintenances/<%= @maintenance.id %>/edit"><button>Close maintenance</button></a></p>
    </form>
<%else%>
    <p>Items Checked:</p>
    <ul>
        <% @inspection.inspection_parts.each do |ip| %>
            <li><p><%= @description = Part.find(ip.part_id).description %> | <%= ip.codes %></p></li>
        <%end%>
    </ul>
    <br></br>
    <h3>This Maintenance is closed.</h3>
<%end%>

<a class="btn btn-link" href="../users/id">Back</a>
