<p>ID: <%= @maintenance.equipment.id %></p>
<p>Equipment: <%= @maintenance.equipment.name %></p>
<p>User: <%= @maintenance.user.username %></p>
<p>Code: <%= @maintenance.equipment.code %></p>
<p>Status: <%= @maintenance.status %></p>
<p>Inspection Type: <%= @inspection.inspection_type %></p>

<% if @maintenance.status == "in_progress" %>
    <form method="post" action="/maintenances/<%= @maintenance.id %>/inspections">
        <h3>Create New Inspection</h2>    
        <input type="hidden" name="inspection[maintenance_id]" value="<%= @maintenance.id %>"><br>
    
        <label for="inspection_parts">Items verified:</label>
        <select id="inspection_parts" name="inspection_parts[part_id]">
            <% Part.all.each do |part| %>
                <option value="<%=part.id%> "><%= "#{part.description}" %></option>
            <% end %>
        </select>  
        <select id="inspection_parts" name="inspection_parts[code_id_1]">
            <% @issues.each do |code| %>
            <option value="<%=code.code%> "><%= "#{code.code_type} | #{code.title}" %></option>
            <% end %>
        </select> 

        <select id="inspection_parts" name="inspection_parts[code_id_2]">
            <% @causes.each do |code| %>
            <option value="<%=code.code%> "><%= "#{code.code_type} | #{code.title}" %></option>
            <% end %>
        </select> 

        <select id="inspection_parts" name="inspection_parts[code_id_3]">
            <% @actions.each do |code| %>
            <option value="<%=code.code%> "><%= "#{code.code_type} | #{code.title}" %></option>
            <% end %>
        </select> 
        <br></br>
        <input text="text" name="inspection[notes]" placeholder="Notes...">
        <input type="submit" value="Save">
    </form>
<%else%>
    <h1>This Maintenance is closed.</h1>
<%end%>
